@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/ad3cd4cbda94aee8578c1b622b9002f9dfe345c05870eb375a02da853d08f072.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/046a76746039189feb148c360dfb82d07a1e3464d31a2078363587af6f5a1cfb.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/d783603a0dd07db6896ecd8a3460e2256a48dca62373a0478706a05490c1a2d8.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/fc6648da06acebfe96ad5a8f077f569c5c4dd75b77122951723ddfbfeb191728.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/3b2277e82a583c9f91de41aa9e198a14d7ef7f4ccd04828abdd623acd116a88b.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../report/public/fonts/71671477a4b62305fbd3ed4976a31c3c08520cf914656ece6b79543524a49132.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

img.user-img {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
}

/* td {
  padding: 5px 5px;
} */

.labeled {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding-inline: 5px;
  font-size: 14px;
}

.bg-white {
  background-color: white !important;
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
}

table {
  /* width: 100% !important; */
  border: 1px solid gray;
  /* padding: 10px; */
}

thead {
  background-color: rgb(92, 28, 126);
}

th {
  color: white;
  /* padding: 10px; */
}
