* {
  font-size: 7px !important;
}

th {
  font-size: 7px !important;
  padding-inline: 5px !important;
  text-align: right;
}

img.user-img {
  width: 10px;
  height: 10px;
  border: none;
}

.ltr {
  direction: ltr !important;
}

.bg-white {
  background-color: white !important;
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 3px;
}

table {
  width: 100% !important;
  background-color: white !important;
}

thead {
  background-color: rgb(92, 28, 126);
}

th {
  color: white;
  padding-block: 10px;
}

td {
  padding: 3px 7px !important;
  line-height: 2 !important;
}

tr {
  padding-block: 5px !important;
}

tr:nth-child(even) {
  background-color: rgb(188, 222, 236);
}

.phone_number {
  font-size: 5px !important;
  background-color: red;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 0px 5px;
}

.phone_number:hover {
  background-color: rgb(162, 1, 1);
}
