@media print {
  .shomare-faktor-box,
  .top-bar,
  nav {
    display: none;
  }

  .shomare-faktor-list-show table.customer-list.jadval-shomare {
    width: 90%;
    margin: auto;
    float: none;
  }

  table.customer-list.jadval-shomare tr th:nth-child(4n),
  table.customer-list.jadval-shomare tr td:nth-child(4n) {
    display: none;
  }

  .jadval-shomare-blue {
    background: white;
    color: black;
    border: none;
    box-shadow: none;
    font-size: 12px;
    padding: 0;
  }

  .jadval-shomare-kharidar {
    font-size: 13px;
  }

  img.user-img {
    width: 30px;
    height: 30px;
  }

  table.customer-list td {
    padding: 0;
  }

  .shomare-faktor-date {
    font-size: 11px;

    background: none;
    padding: 4px;
  }

  html {
    margin: 0;
  }

  table.customer-list th {
    height: auto;
  }

  .today-faktor-statistics {
    display: none;
  }
}

.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #44ad73;
  border-radius: 30px;
  box-shadow: 0px 1px 3px 0px #b9b9b9;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18894a;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 2px solid #74d9a1;
  width: 45px;
  height: 45px;
  font-size: 19px;
}

.ranking-icon {
  font-size: 19px;
}

.golden {
  color: gold;
}

.silver {
  color: #cfcfcf;
}

.lucky {
  color: #268751;
}
