/* rest section styles */
.relation {
  display: flex;
  flex-direction: column;
}
.relation > div {
  flex: 1 1 0px;
}

@media screen and (min-width: 768px) {
  .relation {
    display: flex;
    flex-direction: row;
  }

  .section:not(:last-child) {
    border-left: 2px dotted black;
  }

  .list-group {
    height: 30vh;
  }
}

.section {
  padding-inline: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.serial-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.serial-input {
  padding: 0.5rem 1rem;
  direction: rtl;
  margin-bottom: 2rem;
  width: 80%;
}

/* selected items style */

.list-group {
  height: 70vh;
  overflow-y: auto;
  padding-inline: 0.3rem;
}

.matched-item {
  height: 60px;
  padding: 1rem;
  border: 2px solid rgb(108, 107, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.3rem;
}

.add,
.remove {
  cursor: pointer;
  border-radius: 50%;
}

.add {
  color: rgb(46, 198, 46);
}

.remove {
  color: red;
}

.add:hover,
.remove:hover {
  background-color: #c0bbbb;
}

.add-relation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.r-input {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: none;
}

::placeholder {
  color: black;
}

.bg-green {
  background-color: seagreen;
  color: white;
  border: none;
}

.searchBox {
  padding-inline: 1rem;
  display: flex;
}

.searchBox input {
  width: 100%;
}
